
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind components;
@tailwind utilities;
@tailwind base;


html {  
    scroll-behavior: smooth !important;

}
:root {
  --primary: rgb(254, 254, 254);
  --secondary: rgb(87, 87, 87);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 1px;
  border: 0.5px solid var(--primary);
}

